
.deleteModal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	border: 1px solid #ccc;
	background: #fff;
	overflow: auto;
	border-radius: 0.5rem;
	outline: none;
	padding: 4rem;
	width: 500px;
	display: grid;
	grid-template-rows: 35% 35%;
	grid-template-columns: 45% 45%;
	gap: 2rem;
	margin: auto;
}